<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <label for="class">Escola</label>
        <div class="form-group">
          <school-select-list 
            [preSelectedId]="0"
            (selected)="onSelectedSchool($event)">
          </school-select-list>
        </div>
        
        <div class="form-group">
          <label for="name">Nome</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="class.Name"
            name="name" />
        </div>
  
        <div class="form-group">
          <label for="description">Descrição</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="class.Description"
            name="description" />
        </div>
  
        <button (click)="createClass()" class="btn btn-success">Criar Turma</button>
      </div>
  
      <div *ngIf="submitted">
        <h3>Solicitação do cadastro de turma recebido!</h3>
        <button class="btn btn-success" (click)="newClass()">Novo...</button>
      </div>
    </div>
  </div>
  