<div class="row">
  <div class="input-group mb-5">
    <div class="input-group-prepend">
      <school-select-list 
        [preSelectedId]="0"
        (selected)="onSelectedSchool($event)">
      </school-select-list>
    </div>
    <input type="text" class="form-control" placeholder="Pesquisa de turmas" aria-label="Pesquisa de turmas" aria-describedby="basic-addon2" [(ngModel)]="name">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="search()">Pesquisar</button>
    </div>
  </div>
</div>

<div class="row">
  <h4>Lista de turmas</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of classes;">
          <td><span>{{p.name}}</span></td>
          <td><span>{{p.description}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
